<!doctype html>

<html>
	<head>
		<meta charset = "utf-8">
		<title>Authentification</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<form method="post" action="{{ path("projet_login_homepage")}}" >
					
					<div class="well">
						<h4>Identifiez-vous</h4>
					</div>
					{% if err != "" %}
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong> /!\ </strong> Login ou mot de passe incorrects.<strong> /!\ </strong>
					</div>
					{% endif %}
					<div class="form-group">
						<label for="login">Login : </label>
						<input class="form-control" type="texte" name="login" placeholder="Entrez votre login..." value = "" />
					</div>

					<div class="form-group">
						<label for="mdp">mots de passe : </label>
						<input class="form-control" type="password" name="mdp" placeholder="Entrez votre mot de passe..." value = "" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Envoyer</button> 
					</div>
				</form>
				<form action="{{ path("projet_login_register")}}">
					<button class="btn btn-primary" type="submit">Inscription</button>
				</form>
				
			</div>
		</div>

	</body>
</html>