<html>
	<head>
	 	<title>inscription</title>
	 	<meta charset = "utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>


		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<form action = "{{ path("projet_agenda_inscription")}}" method = "post">
				
					<div class="well">
						<h4>Inscription</h4>
					</div>
					<div class="form-group">
						<label for="login">Login : </label>
						<input class="form-control" type="texte" name="login" placeholder="Entrez votre login..." value = "" />
					</div>

					<div class="form-group">
						<label for="mdp">mots de passe : </label>
						<input class="form-control" type="password" name="mdp" placeholder="Entrez votre mot de passe..." value = "" />
					</div>

					<div class="form-group">
						<button class="btn btn-primary" type="submit">Envoyer</button> 
					</div>
				</form>
			</div>
		</div>
	 
	</body>
</html>